#root{
  background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-thumb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  width: 100vh;
  height: 100vh;
}

.enviar-mensaje{
  width: 100%;
  padding: 2px;
  display: flex;
}

#nombre-usuario{
  background-color: #F1EAE5;
  border-radius: 5px;
  padding: 10px;
  margin-left: 5px;
}

button{
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 10px;
  background-color: #D09A53;
  padding: 1px;
}

.abs-center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.entrada-usuario{
  background-color: black;
  border-radius: 15px;
  position: fixed;
  padding:30px;
  box-shadow: 0 8px 8px -4px lightblue;
  top:35%;
  left:32%;
  display: flex;
  flex-direction: row;
}

.chat{
  box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034),0 6.7px 5.3px rgba(0, 0, 0, 0.048),0 12.5px 10px rgba(0, 0, 0, 0.06),0 22.3px 17.9px rgba(0, 0, 0, 0.072),0 41.8px 33.4px rgba(0, 0, 0, 0.086),0 100px 80px rgba(0, 0, 0, 0.12);
  margin: 40px 50px;
  height: 550px;
  width: 800px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: #2E2B27;
  background-repeat: no-repeat;
  background-size: cover;
}

.mensajes-publicos{
  height: 490px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  flex-direction: row;
  background-color: #5A544C;
  overflow: auto;
  background-image: url("https://images.ecestaticos.com/MUsrmUgYGUwR5M6ZyyHCDmeFRUk=/0x0:2121x1414/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fd9e%2F66d%2F793%2Fd9e66d793adbc994841e60850a17e61c.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.mensajes-publicos::-webkit-scrollbar {

}

.mensajes-publicos::-webkit-scrollbar-track{
  background-color: transparent;
}

.contenedor-mensaje{
  width: 100%;
  display: flex;
}

.contenedor-mensaje.left{
  justify-content: end;
}

.mensaje{
  display: inline-block;
  padding:5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 5px 10px;
  background-color: #C6B4A7;
  border-radius: 5px;
}

.mensaje.usuario{
  background-color: #D88A22;
}

.list-usuarios{
  width: 150px;
}

.table-mensajes{
  margin-left: 10px;
  width: 80%;
  border: 10px;
}


.entrada-mensaje{
  width: 92%;
  height: auto;
}

.public{
  border: #000;
  list-style: none;
  margin: 5px 2px;
  box-shadow: 0 8px 8px -4px lightblue;
  background-color: #DF6816;
  border-radius: 10px;
  color: black;
  text-align: center;
  font-weight: bold;
}

.usuarios{
  list-style: none;
  padding: 10px;
  border:#000;
  margin: 10px 2px;
  box-shadow: 0 8px 8px -4px lightblue;
  background-color: #D88A22;
  border-radius: 10px;
  color: black;
  font-weight: bold;
}

ul {
  padding: 0;
  list-style-type: none;
}


.dato-remitente{
  font-weight: bold;
}

.dato-mensaje{
  
}

.entrada-mensaje{
  background-color: #4B4742;
  border-radius: 5px;
  padding: 7px;
  color: aliceblue;
}



