#root{
  background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-thumb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  width: 100vh;
  height: 100vh;
}


.abs-center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.entrada-usuario{
  background-color: black;
  border-radius: 15px;
  position: fixed;
  padding:30px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),0 6.7px 5.3px rgba(0, 0, 0, 0.048),0 12.5px 10px rgba(0, 0, 0, 0.06),0 22.3px 17.9px rgba(0, 0, 0, 0.072),0 41.8px 33.4px rgba(0, 0, 0, 0.086),0 100px 80px rgba(0, 0, 0, 0.12);
  top:35%;
  left:32%;
  display: flex;
  flex-direction: row;
}

.chat{
  box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034),0 6.7px 5.3px rgba(0, 0, 0, 0.048),0 12.5px 10px rgba(0, 0, 0, 0.06),0 22.3px 17.9px rgba(0, 0, 0, 0.072),0 41.8px 33.4px rgba(0, 0, 0, 0.086),0 100px 80px rgba(0, 0, 0, 0.12);
  margin:40px 50px;
  height: 550px;
  width: 800px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: #2E2B27;
}

.list-usuarios{
  width: 150px;
}

.table-mensajes{
  margin-left: 10px;
  width: 80%;
  border: 10px;
}

.mensajes-publicos{
  height: 490px;
  border: 1px solid dimgray;
  border-radius: 10px;
  overflow-y: scroll;
}

.enviar-mensaje{
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

.entrada-mensaje{
  width: 600px;
}

.public{
  border: #000;
  list-style: none;
  margin: 5px 2px;
  box-shadow: 0 8px 8px -4px lightblue;
  background-color: #000;
  color: aliceblue;
}

.usuarios{
  list-style: none;
  padding: 10px;
  border:#000;
  margin: 10px 2px;
  box-shadow: 0 8px 8px -4px lightblue;
}

ul {
  padding: 0;
  list-style-type: none;
}

.mensaje{
  justify-content: start;
  display: flex;
  padding: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 5px 10px;
  background-color: bisque;
  flex-direction: column;
}

.mensaje.usuario{
  background-color: darkgrey;
}

.dato-remitente{
  font-weight: bold;
}

.dato-mensaje{
  
}

.entrada-mensaje{
  background-color: darkgrey;
  border-radius: 5px;
}


